$corDeFundo: #5A0C0C;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDoHeader: #7E1111;
$corDeFundoBotaoPrimairo: #C9181E;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;
